body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
   
}
.nav-title{
color: black;
font-size: 45px;
font-weight: 800px;
}
.text-primary{
color: #fd6e0a;
}
nav > ul{
    display: flex;
    align-items: center;
} 
nav li {
    list-style: none;
    margin-right: 50px;
} 
nav a {
    text-decoration: none;
    color: #474747;
} 
 .btn-primary{
border-radius: 5px; 
background: #fd6E0A ;
border: 0;
color: white;
font-size: 20px;
font-weight: 700;
padding: 15px 35px;

}
.header{
    background-color: #fff8f3;
}
.banner{
    padding:  30px 30px 30px 150px;
    display: flex;
    align-items: center;
}